<div class="page-header">
  <h1>
    Your Tweets

    {{#if model.length}}
      {{#link-to 'tweets.new'}}
        {{#bs-button type="primary" buttonType="button" classNames="btn-xs"}}
          Add Tweet
        {{/bs-button}}
      {{/link-to}}
    {{/if}}
  </h1>
</div>

<ul class="list-group">
  {{#each model as |tweet_item|}}
    <li class="list-group-item">
      {{#link-to "tweet" tweet_item tagName="div"}}
        <h4>
          {{tweet_item.message}}
        </h4>

        <p>Scheduled For: {{tweet_item.scheduled}}</p>
      {{/link-to}}
    </li>
  {{else}}
    <li class="list-group-item">
      No tweets found.

      {{#link-to "tweets.new"}}
        Why don't you make one?
      {{/link-to}}
    </li>
  {{/each}}
</ul>

{{outlet}}
