<div class="page-header">
  <h1>New Tweet</h1>
</div>

{{#bs-form model=this action="submit"}}
  {{tweet-form ctrl=this model=model}}

  {{bs-button defaultText="Submit" type="primary" buttonType="submit"}}
  {{bs-button defaultText="Cancel" action="cancel" buttonType="button"}}
{{/bs-form}}

{{outlet}}
